.btn-custom {
    background-color: rgb(56, 126, 209);
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
}

.btn-custom:hover {
    background-color: #222222;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.btn-custom:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}